body {
  margin: 0;
  font-family: Verdana, serif;
  background: #f5f5f2;
  color: #3a3a3a;
}

header {
  background: white;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.logo {
  max-width: 180px;
  margin-bottom: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #6b7f63;
  font-size: 15px;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  padding: 30px 20px;
  text-align: center;
  margin-bottom: 0;
}

footer {
  background: #6b7f63;
  color: white;
  padding: 20px;
  text-align: center;
}

.language-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 14px;
}

.language-switch a {
  color: #6b7f63;
  text-decoration: none;
}

.language-switch strong {
  color: #3a3a3a;
}

.page-photo {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0px auto;
  border-radius: 6px;
}

.content {
  text-align: center;
}.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 50px;
}

/* Lightbox met fade */
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: opacity 2.0s ease;

  z-index: 9999;
}

#lightbox.active {
  opacity: 1;
  visibility: visible;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 6px;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
  cursor: pointer;
}

.gallery-grid img {
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery-grid img:hover {
  transform: scale(1.03);
}
.booking-links {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 40px 0;
  flex-wrap: wrap;
}

.booking-button {
  padding: 15px 30px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  transition: opacity 0.3s ease;
}

.booking-button:hover {
  opacity: 0.9;
}

.booking-button.airbnb {
  background-color: #ff5a5f;
}

.booking-button.natuurhuisje {
  background-color: #2f6b3f;
}
.map-container {
  max-width: 900px;
  margin: 30px auto;
  border-radius: 6px;
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 400px;
  border: 0;
}

.gallery-grid img {
  width: 100%;
  aspect-ratio: 4 / 3;     /* vaste kaderverhouding */
  object-fit: cover;      /* vult het kader netjes */
  border-radius: 6px;
}
